<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.esaydarwin.rtsp.player">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="org.easydarwin.easyplayer.TheApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5700bb7467e58ef3fd000648" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="@string/app_flavor" />

        <activity
            android:name="org.easydarwin.easyplayer.PlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="org.easydarwin.easyplayer.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="org.easydarwin.easyplayer.PlaylistActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.easydarwin.easyplayer.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="org.easydarwin.easyplayer.MediaFilesActivity"
            android:label="文件夹" />

        <receiver android:name="org.easydarwin.easyplayer.updatemgr.CompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.easydarwin.easyplayer.ijk.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" />
        <activity android:name="org.easydarwin.easyplayer.AboutActivity"></activity>
    </application>

</manifest>