
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.sdf
*.sdp
*.o
*.exp
[Ll]ogs*/
[Pp]rivate*/
ipch/
*.opensdf
*.txt
/win32/bin/*.lib
/win32/bin/*.lic
/win32/bin/*.h
win32/bin/libEasyPlayer.dll
win32/bin/libEasyPlayer.dll.manifest
win32/binWebPlugin/EasyPlayerWebActiveX.lib
win32/binWebPlugin/EasyPlayerWebActiveX.ocx
win32/EasyPlayerWebActiveX/EasyPlayerWebActiveXidl.h
*.h264
*.ocx
